body {
  margin: 0;
  background-color: #F2F6FF;
  font-family: 'Inter', sans-serif;
}

.fintech-title {
  font-weight: 800;
  color: #002970;
}

.hero-text {
  font-size: 42px;
  font-weight: 800;
  color: #fff;
  max-width: 550px;
}

.section-header {
  font-size: 26px;
  font-weight: 700;
  color: #002970;
  margin-bottom: 15px;
}
